.home-wrapper{
    
}

.home-container{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}



.home-greeting{
    margin-top: -30px;
    background: var(--color-darkblue);
    color: var(--color-lightning);
    font-size: 2em;
    width: 500px;
    height: 60px;
    align-content: center;
    border-radius: 10px;
}

.home-button{
    border-radius: 10px;
    height: 220px;
    width: 490px;
    padding: 5px 10px;
    color: var(--color-lightning);
    border: 6px solid var(--color-lightning);
    background-color: transparent;
    font-size: 2.3em;
    font-weight: bold;
    transition: ease 200ms;
    padding: 0;
}

.home-button:hover{
    background-color: rgb(96, 96, 252);
    cursor: pointer;
    transition: ease 200ms;
}

.home-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 70px;
}

.home-top-container{
    display: felx;
    flex-direction: column;
    background-color: var(--color-lightning);
    width: 100%;
    height: 45%;
    align-content: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.home-bottom-container{
    background-color: rgb(79, 79, 216);
    width: 100%;
    height: 55%;

}

.home-title-image{
    height: 90%;
    margin-top: 15px;
    margin-bottom: -30px;
}

.pokeball{
    position: relative;
    height: 90px;
    z-index: 2;
}

.home-pokedle-img{
    width: 100%;
    transition: ease-out 200ms;
}

.home-pokedle-img:hover{
    transform: scale(1.2, 1.2);
    transition: ease-out 200ms;
}