.pokedle{
    overflow-y: hidden;
}

.pokedle-container-wrapper{
    overflow-y: hidden;
    height: 100vh;
}

.playarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 46% ;
    overflow-y: scroll;
    overflow-x: visible;
    
}

.playarea::-webkit-scrollbar {
    width: 0px;
}
  
.playarea::-webkit-scrollbar-thumb {
    width: 0px;
    
}
  
.playarea::-webkit-scrollbar-track {
    width: 0;
}

.win-message-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.win-message {
    position: absolute;
    background-color: rgb(51, 51, 51);
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    color: white;
    z-index: 1000;
    animation: grow 0.3s ease-out; /* Apply the grow animation */
    width: 450px;
    height: 450px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: bold;
}

.win-message-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.win-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.win-text {
    position: absolute;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.658);
    height: 100%;
    width: 100%;
}

.win-button{
    background-color: var(--color-lightblue);
    color: var(black);
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    width: 80%;
}

.pokemon-guessed-win-image{
    margin-top: -40px;
    width: 200px;
    margin-bottom: -40px;
}

.pokedle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 50px) ;
    background-color: rgba(255, 255, 255, 0.726);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.233);
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.pokedle-container-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    background-image: url("../../public/backgroun.png");
    background-position: center;
    background-size: 3000px;
    background-repeat: no-repeat;
}

.pokedle-title{
    height: 150px;
    margin-bottom: 50px;
    margin-top: -50px;
}

.guesses-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.guesses-header-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 20px;
    border: 3px solid transparent;
    font-size: 0.9em;
    font-weight: bold;
}

.pokedle-user-info-container{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0.726);
    padding: 20px;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);

}

.pokedle-user-info-name{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
}

.pokedle-user-info-games-text{
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.pokedle-info-card{
    justify-items: center;
}


.pokedle-info-card-number{
    border: 4px solid black;
    font-size: 2em;
    border-radius: 8px;
    padding: 20px;
    width: 40px;
    font-weight: bold;
    text-align: center;
    text-justify: center;
}

.rules-button {
    position: relative;
    top: 30px;
    right: -240px;
    padding: 10px;
    border-radius: 5px;
    padding: 0;
}

.rules-button-icon {
    color: rgba(0, 0, 0, 0.205);
    cursor: pointer;
    font-size: 3em;
    transition: ease 200ms;
}

.rules-button-icon:hover {
    transform: scale(1.2,1.2);
    transition: ease 200ms;
    color: rgba(0, 0, 0, 0.377)
}

.rules-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.rules-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rules-content h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.rules-content li {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}

.rules-content .close-button {
    position: relative;
    top: 10px;
    right: -300px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.541);
}

.rules-content .close-button:hover {
    color: rgb(0, 0, 0);
}

.rules-content h2{
    margin-top: -20px;
}